/* ol, ul {
    padding-left: 1.5em;
} */

/* Placement */

/* body {
    display: flex;
    flex-direction: column;
} */

/* .main {
    flex: 1 0 auto;
} */
/* 
.header, .footer {
    flex: 0 0 auto;
} */

/* Header */

/* .header, .site-header {
    display: flex;
    justify-content: space-between;
} */

/* Title */

/* .title, .logo {
    padding: 3em 3em 3em 0;
} */



/* .title * {
    color: #111;
} */

/* .title p {
    font-style: italic;
} */

/* Footer */

/* .footer {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #333333;
} */

/* .footer a {
    color: #222;
} */

/* .footer .social {
    font-size: 2rem;
} */



