// variables.scss

$color-white: #fff;
$color-light-grey: #ebebeb;
$color-mid-grey: #404040;
$color-dark-grey: #333;
$color-red: #e02e3d;

// $font-color: #000;
// $font-alternative-color: #fff;
// $accent-color: #ee6c4d;
// $background-color: #b3ff00;
// $background-alternative-color: #e0fbfc;
