{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="tech-wrapper w-960">
            <nav class="tech-navigation">
                <ul class="tech-menu">
                    {% for page in pages('technology') %}
                        <li {% if page.id==current_page.id %} class="active-tech-subject" {% endif %}>
                            <a href="{{ page.url }}">{{ page.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>

            <div class="tech-subject">
                {{ content }}
            </div>
        </div>
    </div>

    {% include 'incl/footer.twig' %}
</body>
</html>
